<h1>Users</h1>
<button type="button" class="btn btn-icon btn-primary" title="Add user" (click)="openAddUserModal()">
    <clr-icon shape="plus"></clr-icon>
    add
</button>
<clr-datagrid>
    <clr-dg-column>Name</clr-dg-column>
    <clr-dg-column>Email</clr-dg-column>

    <clr-dg-row *clrDgItems="let user of users" [clrDgItem]="user">
        <clr-dg-cell>{{user.firstName}} {{user.lastName}}</clr-dg-cell>
        <clr-dg-cell>{{user.email}}</clr-dg-cell>
        <clr-dg-action-overflow>
            <button class="action-item" (click)="openRemoveUserModal(user)">Delete</button>
        </clr-dg-action-overflow>
    </clr-dg-row>

    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{pagination.totalItems}} users
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>
<app-add-user-modal [openStream]="addUserModal" [refreshStream]="refreshUserList"></app-add-user-modal>
<app-remove-user-modal [openStream]="removeUserModal" [user]="userToBeDeleted"
                       [refreshStream]="refreshUserList"></app-remove-user-modal>