<h2>{{image?.name}}</h2>
<h5>Uploaded by {{image?.uploader.firstName}} {{image?.uploader.lastName}}</h5>

<div class="btn-group btn-icon">
    <button class="btn btn-primary" (click)="openEditModal()">
        <clr-icon shape="pencil"></clr-icon>
    </button>
    <button class="btn btn-warning" (click)="openDeleteModal()">
        <clr-icon shape="trash"></clr-icon>
    </button>
</div>

<div *ngIf="image">
    <h4>Preview</h4>
    <app-example-screen [image]="image" [screen]="image?.screen" [scale]="5"></app-example-screen>
</div>
<app-edit-image-modal *ngIf="image" [image]="image" [openStream]="editImageModal"></app-edit-image-modal>
<app-remove-image-modal *ngIf="image" [image]="image" [openStream]="deleteImageModal"
                        [refreshList]="toListStream"></app-remove-image-modal>