<clr-modal [(clrModalOpen)]="open">
    <h3 class="modal-title">Add user</h3>
    <div class="modal-body">
        <p>Please enter the email address of the user you want to add to this company.</p>
        <div class="alert alert-danger" role="alert" *ngIf="error">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">{{error}}</span>
                </div>
            </div>
        </div>
        <form clrForm [formGroup]="email">
            <clr-input-container>
                <label class="clr-col-3">Email address</label>
                <input placeholder="Email address" formControlName="email" name="phoneNumber" type="text" clrInput class="clr-col-9">
                <clr-control-error>{{getErrorMessage(email.get('email')?.errors)}}</clr-control-error>
            </clr-input-container>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="closeModal()">Cancel</button>
        <button [clrLoading]="submitButtonState" type="button" class="btn btn-primary" (click)="addUserToCompany()" [ngClass]="!email.valid ? 'disabled' : null">Ok</button>
    </div>
</clr-modal>