<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Basic details</ng-template>
      <mat-form-field>
        <input matInput placeholder="Type name" formControlName="typeName" required>
      </mat-form-field><br>
      <mat-form-field *ngIf="user.locations.length > 1">
        <mat-select placeholder="Location" formControlName="location">
          <mat-option *ngFor="let location of user.locations" [value]="location['id']">
            {{location['name']}}
          </mat-option>
        </mat-select>
      </mat-form-field><br>
      <mat-slide-toggle formControlName="active">Active</mat-slide-toggle>
      <div>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Type details</ng-template>
      <mat-form-field>
        <input matInput placeholder="Time in days" formControlName="time" required>
        <span matSuffix>days</span>
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Price" formControlName="price" type="number" required>
        <span matPrefix>€&nbsp;</span>
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="# of images" formControlName="imageCount" type="number" required>
        <span matSuffix>images</span>
      </mat-form-field><br>
      <mat-slide-toggle formControlName="exclusive">Exclusive</mat-slide-toggle>
      <div>
        <button mat-raised-button color="primary" class="button" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" class="button" matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <mat-form-field>
      <input matInput disabled [value]="firstFormGroup.get('typeName').value" placeholder="Name">
    </mat-form-field><br>
    <mat-form-field *ngIf="user.locations.length > 1">
      <input matInput disabled [value]="getLocationNameById(firstFormGroup.get('location').value)" placeholder="Location">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput disabled [value]="secondFormGroup.get('time').value" placeholder="Time">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput disabled [value]="secondFormGroup.get('price').value | currency:'EUR':undefined" placeholder="price">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput disabled [value]="secondFormGroup.get('imageCount').value" placeholder="Time">
    </mat-form-field><br>
    <mat-slide-toggle disabled [checked]="firstFormGroup.get('active').value">Active</mat-slide-toggle><br>
    <mat-slide-toggle disabled [checked]="secondFormGroup.get('exclusive').value">Exclusive</mat-slide-toggle>
    <div>
      <button mat-raised-button color="primary" class="button" matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" type="submit" (click)="finishSetUp()">Finish</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
