<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" aria-label="Images">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Image ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>


    <!-- Promotion Column -->
    <ng-container matColumnDef="promotion">
      <mat-header-cell *matHeaderCellDef>Promotion</mat-header-cell>
      <mat-cell *matCellDef="let row"><a routerLink="/promotions/{{row.promotion['id']}}">{{row.promotion['name']}}</a></mat-cell>
    </ng-container>

    <!-- User Column -->
    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef>User</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.owner['firstName']}} {{row.owner['lastName']}}</mat-cell>
    </ng-container>

    <!-- Height Column -->
    <ng-container matColumnDef="height">
      <mat-header-cell *matHeaderCellDef>Height</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.height}}</mat-cell>
    </ng-container>

    <!-- Width Column -->
    <ng-container matColumnDef="width">
      <mat-header-cell *matHeaderCellDef>Width</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.width}}</mat-cell>
    </ng-container>

    <!-- Active Column -->
    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef>Active</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.active}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="more">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <ng-container *ngIf="!allow; else al">
        <mat-cell *matCellDef="let row"><button mat-icon-button color="primary" routerLink="{{row.id}}"><mat-icon>chevron_right</mat-icon></button></mat-cell>
      </ng-container>
      <ng-template #al>
        <mat-cell *matCellDef="let row">
          <div>
            <button mat-icon-button color="primary" [disabled]="row.checked" (click)="checkImage(row, true)">
              <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button color="warn" [disabled]="row.checked" (click)="checkImage(row, false)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </mat-cell>
      </ng-template>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
