<div *ngIf="location">
  <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <label>
    {{location.name}}
  </label>
  <div class="content">
    <form [formGroup]="formGroup">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" [readonly]="!edit">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Owner" [value]="location.owner['firstName']" disabled>
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Street" formControlName="street" autocomplete="street-address" [readonly]="!edit">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="House number" formControlName="houseNumber" [readonly]="!edit">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Zip code" formControlName="zipCode" autocomplete="postal-code" [readonly]="!edit">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="City" formControlName="city" autocomplete="address-level2" [readonly]="!edit">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Country" formControlName="country" autocomplete="country-name" [readonly]="!edit">
      </mat-form-field><br>
      <br>
      <div>
        <button mat-raised-button color="primary" class="editbutton" (click)="finishEdit()" *ngIf="edit">Save</button>
        <button mat-raised-button color="primary" class="editbutton" (click)="editType()" *ngIf="!edit">Edit</button>
        <button mat-raised-button color="warn" (click)="askDelete()">Delete location</button>
      </div>
    </form>
  </div>
</div>
