<router-outlet></router-outlet>
<nav class="sidenav" [clr-nav-level]="2">
    <section class="sidenav-content">

        <section class="nav-group collapsible">
            <input id="tab2" type="checkbox">
            <label for="tab2">Manage</label>
            <ul class="nav-list">
                <li><a class="nav-link" routerLink="/u" routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">Users</a></li>
            </ul>
        </section>
        <section class="nav-group collapsible">
            <input id="tab1" type="checkbox">
            <label for="tab1">Components</label>
            <ul class="nav-list">
            </ul>
        </section>
    </section>
</nav>
