<router-outlet></router-outlet>
<nav class="sidenav" [clr-nav-level]="2">
    <section class="sidenav-content">

        <section class="nav-group collapsible">
            <input id="tab2" type="checkbox">
            <label for="tab2">Patterns</label>
            <ul class="nav-list">
            </ul>
        </section>
        <section class="nav-group collapsible">
            <input id="tab1" type="checkbox">
            <label for="tab1">Components</label>
            <ul class="nav-list">
            </ul>
        </section>
    </section>
</nav>
