<h2>{{company?.name}}</h2>
<div class="btn-group btn-icon">
    <button class="btn btn-primary" (click)="openEditModal()">
        <clr-icon shape="pencil"></clr-icon>
    </button>
    <button class="btn btn-warning">
        <clr-icon shape="trash"></clr-icon>
    </button>
</div>
<h3>Address</h3>
{{company?.street}} {{company?.houseNumber}}<br>
{{company?.zipCode}} {{company?.city}}<br>
{{company?.country}}
<app-edit-company-modal [open]="editModal" [refreshLocation]="refreshCompany"></app-edit-company-modal>