<div>
  <button mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <label>
    Add type
  </label>
</div>
<form [formGroup]="formGroup">
  <div>
    <mat-form-field>
      <input matInput placeholder="Type name" formControlName="typeName" required>
      <mat-error *ngIf="typeName.errors">{{getErrorMessage(typeName)}}</mat-error>
    </mat-form-field><br>
    <mat-form-field>
      <mat-select placeholder="Location" formControlName="locations">
        <mat-option *ngFor="let location of myLocations" [value]="location['id']">
          {{location['name']}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="locations.errors">{{getErrorMessage(locations)}}</mat-error>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="Time in days" formControlName="time" required>
      <span matSuffix>days</span>
      <mat-error *ngIf="time.errors">{{getErrorMessage(time)}}</mat-error>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="Price" formControlName="price" type="number" required>
      <span matPrefix>€&nbsp;</span>
      <mat-error *ngIf="price.errors">{{getErrorMessage(price)}}</mat-error>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="# of images" formControlName="amountOfImages" type="number" required>
      <span matSuffix>images</span>
      <mat-error *ngIf="amountOfImages.errors">{{getErrorMessage(amountOfImages)}}</mat-error>
    </mat-form-field><br>
    <mat-slide-toggle formControlName="exclusive">Exclusive</mat-slide-toggle><br>
    <mat-slide-toggle formControlName="active">Active</mat-slide-toggle><br>
    <button mat-raised-button color="primary" (click)="finish()">Finish</button>
  </div>
</form>
