<div *ngIf="user">
  <h1 class="mat-h1">{{user.firstName}} {{user.lastName}}</h1>
  <form [formGroup]="formGroup">
    <mat-form-field>
      <input matInput placeholder="First Name" formControlName="firstName" disabled>
    </mat-form-field><br>
    <mat-form-field *ngIf="user.middleName === null">
      <input matInput placeholder="Middle name" formControlName="middleName" disabled>
    </mat-form-field><br *ngIf="user.middleName === null">
    <mat-form-field>
      <input matInput placeholder="Last name" formControlName="lastName" disabled>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" disabled>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="Phone number" formControlName="phoneNumber" disabled>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="Street" formControlName="street" disabled>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="House number" formControlName="houseNumber" disabled>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="Zip code" formControlName="zipCode" disabled>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="City" formControlName="city" disabled>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="Country" formControlName="country" disabled>
    </mat-form-field><br>
  </form>
</div>
