<section class="dox-content">
    <h2>Locations</h2>
    <clr-button-group class="btn-outline-primary btn-sm">
        <clr-button (click)="wizardOpen = !wizardOpen">Create</clr-button>
        <clr-button>Favorite</clr-button>
    </clr-button-group>
    <div class="app-table">
        <clr-datagrid>
            <clr-dg-column>Location ID</clr-dg-column>
            <clr-dg-column>Name</clr-dg-column>
            <clr-dg-column>Action</clr-dg-column>
            <clr-dg-placeholder>{{ error ? 'An error occurred, please check your connection' : 'No locations found'}}</clr-dg-placeholder>

            <clr-dg-row *clrDgItems="let location of locations">
                <clr-dg-cell>{{location.id}}</clr-dg-cell>
                <clr-dg-cell><a routerLink="/locations/{{location.id}}">{{location.name}}</a></clr-dg-cell>
                <clr-dg-cell (click)="updateLocation(location)" class="action">Select location</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    of {{pagination.totalItems}} locations
                </clr-dg-pagination>
            </clr-dg-footer>
        </clr-datagrid>
    </div>
</section>
<app-create-location-wizard [open]="wizardOpen"></app-create-location-wizard>
