<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list *ngIf="user.roles">
      <a mat-list-item routerLink="images">Images</a>
      <a mat-list-item routerLink="types" *ngIf="hasPermission(['SUPAUSA'])">Types</a>
      <a mat-list-item routerLink="promotions">Promotion</a>
      <a mat-list-item routerLink="auth/login">Login</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset | async)!.matches">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{title}}</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
