<div class="content-container">
    <div class="content-area">
        <h1>Companies</h1>
        <button type="button" class="btn btn-icon btn-primary" title="Create new company"
                (click)="openCompanyWizard()">
            <clr-icon shape="plus"></clr-icon>
            create
        </button>
        <clr-tabs>
            <clr-tab>
                <button clrTabLink id="link1">All</button>
                <clr-tab-content id="content1" *clrIfActive>
                    <app-company-list [companyStream]="getAllCompanyStream()"></app-company-list>
                </clr-tab-content>
            </clr-tab>
            <clr-tab>
                <button clrTabLink id="link2">Personal</button>
                <clr-tab-content id="content2" *clrIfActive>
                    <app-company-list [companyStream]="getPersonalCompanyStream()"></app-company-list>
                </clr-tab-content>
            </clr-tab>
            <clr-tab>
                <button clrTabLink id="link3">Advertising</button>
                <clr-tab-content id="content3" *clrIfActive>
                    <app-company-list [companyStream]="getAdvertisingCompanyStream()"></app-company-list>
                </clr-tab-content>
            </clr-tab>
        </clr-tabs>
    </div>
</div>
<app-company-wizard [openStream]="companyWizard"></app-company-wizard>