<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" aria-label="Elements">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Screen ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="height">
      <mat-header-cell *matHeaderCellDef>Height</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.height}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="width">
      <mat-header-cell *matHeaderCellDef>Width</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.width}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="location">
      <mat-header-cell *matHeaderCellDef>Location</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.location['name']}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="allowAds">
      <mat-header-cell *matHeaderCellDef>Advertising</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.allowAds}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="more">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row"><button mat-icon-button color="primary" routerLink="{{row.id}}"><mat-icon>chevron_right</mat-icon></button></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
