<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.time}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
      <!-- TODO - import the NL locale, so the price can be normal €1.000,00 instead of US format -->
      <mat-cell *matCellDef="let row">{{row.price | currency:'EUR':'symbol':undefined}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Active</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.active}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="exclusive">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Exclusive</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.exclusive}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="numberOfImages">
      <mat-header-cell *matHeaderCellDef mat-sort-header># Of images</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.numberOfImages}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="locationId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Location ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.locationId}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
