<form>
  <mat-form-field>
    <input matInput placeholder="First Name" [value]="user.firstName" disabled>
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="Middle name" [value]="user.middleName" disabled>
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="Last name" [value]="user.lastName" disabled>
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="Email" [value]="user.email" disabled>
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="Phone number" [value]="user.phoneNumber" disabled>
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="Street" [value]="user.street" disabled>
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="House number" [value]="user.houseNumber" disabled>
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="Zip code" [value]="user.zipCode" disabled>
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="City" [value]="user.city" disabled>
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="Country" [value]="user.country" disabled>
  </mat-form-field><br>
</form>
