<form [formGroup]="formGroup">
  <mat-horizontal-stepper #stepper formArrayName="formArray">
    <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
      <ng-template matStepLabel>Basic details</ng-template>
      <mat-form-field>
        <input matInput placeholder="Location name" formControlName="locationName" required>
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Street" formControlName="street" required>
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="House number" formControlName="houseNumber" required>
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Zip code" formControlName="zipCode" required>
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="City" formControlName="city" required>
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Country" formControlName="country" required>
      </mat-form-field><br>
      <div>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div>
        <button mat-raised-button color="primary" class="button" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" type="submit" (click)="finishSetUp()">Finish</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
