<section class="dox-content" *ngIf="location != null">
    <h2>{{location.name}}</h2>
    <clr-tabs>
        <clr-tab>
            <button clrTabLink>Information</button>
            <ng-template [(clrIfActive)]="informationActive">
                <clr-tab-content>
                    <table class="table table-vertical">
                        <tbody>
                        <tr>
                            <th>Name</th>
                            <td>{{location.name}}</td>
                        </tr>
                        <tr>
                            <th>Owner</th>
                            <td><a routerLink="/users/{{location.owner.id}}">{{location.owner.firstName}}
                                {{location.owner.lastName}}</a></td>
                        </tr>
                        </tbody>
                    </table>
                </clr-tab-content>
            </ng-template>
        </clr-tab>

        <clr-tab>
            <button clrTabLink>Screens</button>
            <ng-template [(clrIfActive)]="screensActive">
                <clr-tab-content>
                    <app-screen-table [screens]="screens"></app-screen-table>
                </clr-tab-content>
            </ng-template>
        </clr-tab>
    </clr-tabs>
</section>
