<form [formGroup]="formGroup">
  <mat-horizontal-stepper #stepper formArrayName="formArray">
    <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
      <ng-template matStepLabel>Image details</ng-template>
      <mat-form-field>
        <input matInput placeholder="Image name" formControlName="imageName" required>
      </mat-form-field><br>
      <mat-form-field>
        <mat-select placeholder="Promotion" formControlName="selectPromotion">
          <mat-option *ngFor="let promotion of user.promotions" [value]="promotion['id']">
            {{promotion['name']}}
          </mat-option>
        </mat-select>
      </mat-form-field><br>
      <mat-slider [min]="0" [max]="10" [step]="1" [value]="0" [thumbLabel]="true" (change)="update_time($event.value)"></mat-slider>
      <div>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step formGroupName="1" [stepControl]="formArray?.get([1])">
      <ng-template matStepLabel>Upload file</ng-template>
      <button type="button" mat-raised-button color="primary" (click)="file.click()" class="file">Add screen</button>
      <input hidden type="file" #file formControlName="file" required ng2FileSelect [uploader]="uploader" (onFileSelected)="uploader.uploadAll()">
      <div>
        <button mat-raised-button color="primary" class="button" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div>
        <button mat-raised-button color="primary" class="button" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" (click)="finishSetUp()">Finish</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
