<div class="row">
  <div class="col-lg-6">
    <nb-card size="small" accent="success">
      <nb-card-header>Start advertising as a business</nb-card-header>
      <nb-card-body>
        Place your images on screens in other locations
      </nb-card-body>
      <nb-card-footer>
        <button nbButton hero status="success">Start promoting</button>
      </nb-card-footer>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card size="small" accent="success">
      <nb-card-header>Start managing</nb-card-header>
      <nb-card-body>
        Place screens and start advertising with Hermes
      </nb-card-body>
      <nb-card-footer>
        <button nbButton hero status="success">Start advertising</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
