<form [formGroup]="formGroup">
  <mat-horizontal-stepper #stepper formArrayName="formArray">
    <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
      <ng-template matStepLabel>Basic details</ng-template>
      <mat-form-field>
        <input matInput placeholder="Promotion name" formControlName="promotionName" required>
      </mat-form-field><br>
      <mat-form-field *ngIf="user.locations.length > 1 || true">
        <mat-select placeholder="Location" formControlName="location" (selectionChange)="onNewLocation($event.source.value)">
          <mat-option *ngFor="let location of user.locations" [value]="location['id']">
            {{location['name']}}
          </mat-option>
        </mat-select>
      </mat-form-field><br *ngIf="user.locations.length > 1 || true">
      <mat-form-field>
        <mat-select placeholder="Type" formControlName="type" [disabled]="types.length == 0" (selectionChange)="onNewType($event.source.value)">
          <mat-option *ngFor="let type of types" [value]="type.id">
            {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="currentType">
        Time: {{currentType.time}}<br>
        Price: {{currentType.price | currency}}<br>
        imagecount: {{currentType.amountOfImages}}<br>
      </div>
      <div>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step [stepControl]="formArray.get([1])">
      <ng-template matStepLabel>Type details</ng-template>
      <mat-form-field>
        <input matInput [matDatepicker]="startDate" placeholder="From" (dateInput)="newDate($event)">
        <mat-datepicker-toggle matSuffix [for]="startDate">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="To" disabled [value]="toDate?.toLocaleDateString()">
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" class="button" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" class="button" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div>
        <button mat-raised-button color="primary" class="button" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" type="submit" (click)="finishSetUp()">Finish</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
