<div class="form"><form [formGroup]="form">
  <h1 class="mat-h1">Login</h1>
  <mat-form-field>
    <input matInput autocomplete="email" placeholder="Email" formControlName="email" type="email">
    <mat-error *ngIf="email.errors">{{getErrorMessage(email)}}</mat-error>
  </mat-form-field><br>
  <mat-form-field [color]="!validLogin ? 'warn' : 'primary'">
    <input matInput autocomplete="current-password" placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
    <mat-icon matSuffix (click)="hide = !hide" style="cursor: pointer;">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-error *ngIf="password.errors">{{getErrorMessage(password)}}</mat-error>
    <mat-hint *ngIf="!validLogin">Combination not found</mat-hint>
  </mat-form-field>
  <button mat-raised-button color="primary"
          (click)="login()">Login</button>
</form>
</div>
