<div class="form"><form [formGroup]="form">
  <!--<fieldset>-->
  <!--<legend>Login</legend>-->
  <!--<div class="form-field">-->
  <!--<label>Email:</label>-->
  <!--<input name="email" formControlName="email">-->
  <!--</div>-->
  <!--<div class="form-field">-->
  <!--<label>Password:</label>-->
  <!--<input name="password" formControlName="password"-->
  <!--type="password">-->
  <!--</div>-->
  <!--</fieldset>-->
  <!--<div class="form-buttons">-->
  <!--<button class="button button-primary"-->
  <!--(click)="login()">Login</button>-->
  <!--</div>-->
  <h1 class="mat-h1">Login</h1>
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email" type="email">
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
    <mat-icon matSuffix (click)="hide = !hide" style="cursor: pointer;">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>
  <button mat-raised-button color="primary"
          (click)="login()">Login</button>
</form>
</div>
