<div class="row">
  <div class="col-xl-3">
    <ngx-stat-card [amount]="5" [name]="'Images'">
      <i class="nb-grid-a-outline"></i>
    </ngx-stat-card>
  </div>
  <div class="col-xl-3">
    <ngx-stat-card [amount]="5" [name]="'Screens'">
      <i class="nb-layout-default"></i>
    </ngx-stat-card>
  </div>
  <div class="col-xl-3">
    <ngx-stat-card [amount]="5" [name]="'Promotions'">
      <i class="nb-notifications"></i>
    </ngx-stat-card>
  </div>
  <div class="col-xl-3">
    <ngx-stat-card [amount]="5" [name]="'Advertisers'">
      <i class="nb-person"></i>
    </ngx-stat-card>
  </div>
</div>
