<section *ngIf="location != null">
    <h2>{{location.company.name}} - {{location.name}}</h2>
    <div class="btn-group btn-icon">
        <button class="btn btn-primary" (click)="openEditModal()">
            <clr-icon shape="pencil"></clr-icon>
        </button>
        <button class="btn btn-warning" (click)="openDeleteModal()">
            <clr-icon shape="trash"></clr-icon>
        </button>
    </div>
    <h3>Address</h3>
    {{location.street}} {{location.houseNumber}}<br>
    {{location.zipCode}} {{location.city}}<br>
    {{location.country}}
</section>
<app-edit-location-modal [openStream]="editLocationModal"
                         [refreshStream]="refreshLocationStream"></app-edit-location-modal>
<app-remove-location-modal [openStream]="deleteLocationModal" [refreshList]="forwardToList"
                           [location]="location"></app-remove-location-modal>