<section *ngIf="location != null">
    <h2>{{company?.name}} - {{location.name}}</h2>
    <div class="btn-group btn-icon">
        <button class="btn btn-primary" (click)="openModal()">
            <clr-icon shape="pencil"></clr-icon>
        </button>
        <button class="btn btn-warning">
            <clr-icon shape="trash"></clr-icon>
        </button>
    </div>
    <h3>Address</h3>
    {{location.street}} {{location.houseNumber}}<br>
    {{location.zipCode}} {{location.city}}<br>
    {{location.country}}
</section>
<app-edit-location-modal [open]="openEditModal" [refreshLocation]="refreshLocation"></app-edit-location-modal>