<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="static/css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/normalize.css">
</head>
<body>
<div class="carousel">
    {% for image in images %}
        <div style="width: {{ screen['width'] }}px; height: {{ screen['height'] }}px;">
            <div style="max-width: {{ screen['width'] }}px; max-height: {{ screen['height'] }}px;">
                <img src="static/images/{{ image['url'] }}" style="display: block; width: 100%; height: auto;">
            </div>
        </div>
    {% endfor %}
</div>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="static/js/slick.min.js"></script>
<script type="text/javascript" src="static/js/slick-init.js"></script>
</body>
</html>