<clr-wizard #wizardlg [(clrWizardOpen)]="open" clrWizardSize="lg">
    <clr-wizard-title>Upload image</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'" (click)="reset()">Cancel</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

    <clr-wizard-page [clrWizardPageNextDisabled]="firstPage.invalid">
        <ng-template clrPageTitle>Basic information</ng-template>
        <form clrForm [formGroup]="firstPage">
            <clr-input-container>
                <label>Image name</label>
                <input placeholder="Image name" clrInput formControlName="name" name="name" type="text"/>
                <clr-control-helper>The name of the image</clr-control-helper>
                <clr-control-error>This field is required!</clr-control-error>
            </clr-input-container>
            <clr-select-container>
                <label for="screen">Screen</label>
                <select clrSelect name="screen" formControlName="screenId" id="screen">
                    <option *ngFor="let screen of screens" value="{{screen.id}}">{{screen.name}}</option>
                </select>
            </clr-select-container>
        </form>
    </clr-wizard-page>

    <clr-wizard-page #finalPage
                     clrWizardPagePreventDefault="true"
                     (clrWizardPageOnCommit)="createImage()"
                     (clrWizardPageOnCancel)="doCancel()"
                     (clrWizardPagePrevious)="goBack()">
        <ng-template clrPageTitle>Image</ng-template>
        <form clrform [formGroup]="secondPage">
            <clr-input-container>
                <input placeholder="url" type="text" name="url" clrInput formControlName="url"/>
            </clr-input-container>
            <button class="btn btn-primary" (click)="fileInput.click()" [clrLoading]="fileUploadButtonState">Select
                file
            </button>
            <input type="file" name="file" (change)="fileUpload($event.target.files)" style="display: none" #fileInput>
        </form>
        <div class="alert alert-danger" role="alert" *ngIf="errorFlag">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                            {{error.status}} - {{error.message}}
                        </span>
                </div>
            </div>
        </div>
        <div class="spinner" *ngIf="loadingFlag">
            Loading...
        </div>
    </clr-wizard-page>
</clr-wizard>